<ul class="list-view">
	<li>
		<a uiSref="posters">Romantic Comedy</a>
	</li>
	<li>
		<a href="">Cartoon</a>
	</li>
	<li>
		<a href="">Comedy</a>
	</li>
	<li>
		<a href="">Animation</a>
	</li>
	<li>
		<a href="">Action</a>
	</li>
	<li>
		<a href="">Documentary</a>
	</li>
	<li>
		<a href="">Drama</a>
	</li>
	<li>
		<a href="">Horror</a>
	</li>
	<li>
		<a href="">Romance</a>
	</li>
	<li>
		<a href="">Musical</a>
	</li>
	<li>
		<a href="">Scientific Fiction</a>
	</li>
	<li>
		<a href="">Thriller</a>
	</li>
	<li>
		<a href="">War</a>
	</li>
</ul>