<app-header [title]="pageTitle"></app-header>
<div class="content">
	<h2>Please select one category:</h2>
	<ul class="cards">
		<li class="page-box" [routerLink] = "['/posters']">
			<a ><h3>Romantic Comedy</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>Cartoon</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>Comedy</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>Animation</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>Action</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>Documentary</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>Drama</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>Horror</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>Romance</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>Musical</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>Scientific Fiction</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>Thriller</h3></a>
		</li>
		<li class="page-box">
			<a href=""><h3>War</h3></a>
		</li>
	</ul>
</div>