<app-header [title]="pageTitle"></app-header>
<div class="content">
	<h3 class="heading">Please select one category:</h3>
	<ul class="cards">
		<li class="page-box" [routerLink] = "['/posters']">
			<a class="txt-blue">Romantic Comedy</a>
		</li>
		<li class="page-box">
			<a>Cartoon</a>
		</li>
		<li class="page-box">
			<a>Comedy</a>
		</li>
		<li class="page-box">
			<a>Animation</a>
		</li>
		<li class="page-box">
			<a>Action</a>
		</li>
		<li class="page-box">
			<a>Documentary</a>
		</li>
		<li class="page-box">
			<a>Drama</a>
		</li>
		<li class="page-box">
			<a>Horror</a>
		</li>
		<li class="page-box">
			<a>Romance</a>
		</li>
		<li class="page-box">
			<a>Musical</a>
		</li>
		<li class="page-box">
			<a>Scientific Fiction</a>
		</li>
		<li class="page-box">
			<a>Thriller</a>
		</li>
		<li class="page-box">
			<a>War</a>
		</li>
	</ul>
</div>