h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
	background-color: #222;
	margin: 0 auto;
    float: left;
    width: 100%;
}
p, span, h1, h2, h3, h4, h5, h6, a {
	color: #fff;
}
.header {
	background: url('./images/nav_bar.png');
	display: -webkit-flex;
  	display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.header li {
  	align-items: center;
	justify-content: center;
	display: flex;
	margin: 0 auto;
}
.header img {
	width:25px;
	height:25px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.cards {
	margin: 80px 15px 30px;
	justify-content: center;
	padding: .5vw;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	-webkit-flex-flow: row wrap; 
	flex-flow: row wrap; 
	display: -webkit-box;
	display: flex;
}
.cards .text {
	color: #fff;
	width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card {
    -webkit-box-flex: auto;
	-ms-flex: auto;
	flex: 2 0 113px;
	width: calc(45% - 15px);
    margin: 0 15px;
 }
 @media only screen and (min-width: 375px) {
 	.card {
 		flex: 2 0 140px;
 	}
 }
.cards img {
	max-width: 100%;
}